
.barra {
    background: rgba(255, 255, 255, 0.6) !important;
    z-index: 99 !important;
}
#body-index{
    background-image:  linear-gradient(rgba(240, 240, 240, 0.9), rgba(238, 238, 238, 0.9)) ,url("../img/pesos.jpg");
    background-repeat: repeat;
    background-size: 250px 250px;
    z-index: -1;
    overflow-x: hidden;
}
.main {
    background-color: white;
    max-width: 1400px;
}
.nav-index {
    width: inherit;
    max-width: inherit ;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.6) !important;
}
.nav-index:hover{
    background: rgba(255, 255, 255, 1) !important;
}
.social a:hover {
    color: #ed830c !important;
}
.nav2 {
    color: black;
}
.nav1:hover,
.nav2:hover {
    color: #ed830c !important;
}
.header-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.h1-header,
.h2-header,
.h3-header {
    color: #ed830c;
    font-weight: 700;
}
.h2-header{
    margin-top: 30vh;
}
.div-scroll{
    margin-top: 5rem;
}
#btnHeroComenzar{
   margin-top: 3rem;
   border-color:  #ed830c !important;
   border-width: 3px;
   color: #ed830c;
   width: 200px;
   height: 85px;
   font-size: 1.3rem;
}
#btnHeroComenzar:focus, #btnHeroComenzar:hover {
    box-shadow: 0 0 0 0.2rem rgba(243, 148, 6, 0.856);
    color:white;
    background-color: #ed830c;
}

#scrollDown{
    color: #ed830c;
    font-size: 32px;  
}
.fa-angle-double-down:hover{
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;
    
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
.main-index {
    background: linear-gradient(to bottom, rgba(247, 236, 223, 1), rgba(247, 236, 223, 0));
    padding: 50px;
}

.main-article {
    
    border: 3px solid rgba(172, 169, 169, 0.952);
}
.p-main{
    padding-right: 75px;
    padding-left: 75px;
}
.imagen-main {
    margin-left: -150px;
    box-shadow: 2rem 2rem 3rem gray;
}
.ct-chart {
    margin-top: 250px;
}
.numero-fondo {
    position: absolute;
    left: 15%;
    color: rgba(46, 46, 46, 0.153);
    z-index: 1;
    font-weight: 800;
}
.h5-razones{
    z-index: 3;
}
.caja-razones{
    height: 150px;
    border-bottom: 1px solid gray;
}
.caja-pdf{
    height: 250px;
    margin-top: 105px;
}
.pdf-up {
    width: 150px;
    height: 150px;
    right: 20%;
    bottom: 10%;
    z-index: 2;
}
.pdf-down {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 20%;
}
.caja-app {
    margin-top: 70px;
    height: 200px;
}
.imagen-blog {
    width: 850px;
    height: 250px;

}
.ul-blog{
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}
.ul-blog li {
    display: inline-block;
    margin-left: 1rem;
}
.ul-blog a {
    text-decoration: none;
    color: #000;
}
.arrow-blog  {
    padding-left: 10px;
}
.footer-index {
    background-color: rgb(19, 15, 12);
}

.aside1-index {
    background-color: rgba(248, 248, 242, 0.979);
    margin: 3px;
}
.aside-index {
    background-color: white;
    border: 5px solid rgba(180, 183, 185, 0.404);
}
.blog-cat{
    float: left;
}
.blog-can {
    float: right;
}
.clientes {
    background-image: url("../img/premiofondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cliente-item1,
.cliente-item2,
.cliente-item3 {
    width: 170px;
    height: 170px;
    align-self: center;
    font-size: 2rem;
}
.cliente-item1 {
    background-color: cornflowerblue;
}
.cliente-item2 {
    background-color: #28a745;
}
.cliente-item3 {
    background-color: gold;
}
.cliente-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ed830c;
}
.h3-noticias::after {
    content: "";
    height: 3px;
    width: 150%;
    background-color: #ed830c;
    bottom: 3px;
    display: block;
}
.h3-noticias {
     margin-top: 20%;
     margin-bottom: 15px;
}
.div-login {
    background-image: url("../img/coffee-2425294_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.form-login {
    background-color: white;
    min-height: 400px;
}
.login {
    height: 100vh;
}
.copyrights::before {
    content: "";
    height: 2px;
    background-color: lightgray;
    width: 70%;
    bottom: 3px;
    display: block;
    margin-left: 15%;
    margin-top: 0.8rem;
}

.div-contacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../img/contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contacto {
    height: 100vh;
}

.registro {
    background-color: white;
    height: 100vh;
}

.div-registro {
    background-image: url("../img/registro1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.div-iframe {
    background-color: rgba(255, 115, 0, 0.3);
    opacity: 0.6;
}

@media (max-width: 991px) {
    .registro {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .imagen-main {
        margin-left: 0px;
    }
    .h3-noticias {
        margin-top: 0rem;
   }
}


@media (max-width: 768px) {
    .div-registro {
        overflow-y: auto;
    }
    .registro {
        height: auto;
    }
    .p-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
}
