.barra {
    background: rgba(255, 255, 255, 0.6) !important;
    z-index: 99 !important;
}
.nav-index {
    width: inherit;
    max-width: inherit ;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.6) !important;
}
.nav-index:hover{
    background: rgba(255, 255, 255, 0.9) !important;
}
.social a:hover {
    color: #ed830c !important;
}
.nav2 {
    color: black;
}
.nav1:hover,
.nav2:hover {
    color: #ed830c !important;
}
.header-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.h1-header,
.h2-header,
.h3-header {
    color: #ed830c;
    font-weight: 700;
}
.main-index {
    background: linear-gradient(to bottom, rgba(247, 236, 223, 1), rgba(247, 236, 223, 0));
    padding: 50px;
}

.main-article {
    
    border: 3px solid rgba(172, 169, 169, 0.952);
}
.p-main{
    padding-right: 75px;
    padding-left: 75px;
}
.imagen-main {
    margin-left: -150px;
    box-shadow: 2rem 2rem 3rem gray;
}
.footer-index {
    background: linear-gradient(to bottom, rgba(31, 24, 17, 0.62), rgb(27, 17, 12));
}

.aside1-index {
    background-color: rgba(248, 248, 242, 0.979);
    margin: 3px;
}
.aside-index {
    background-color: white;
    border: 5px solid rgba(180, 183, 185, 0.404);
}
.blog-cat{
    float: left;
}
.blog-can {
    float: right;
}
.clientes {
    background-image: url("../img/premiofondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cliente-item1,
.cliente-item2,
.cliente-item3 {
    width: 170px;
    height: 170px;
    align-self: center;
    font-size: 2rem;
}
.cliente-item1 {
    background-color: cornflowerblue;
}
.cliente-item2 {
    background-color: #28a745;
}
.cliente-item3 {
    background-color: gold;
}
.cliente-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ed830c;
}
.h3-noticias::after {
    content: "";
    height: 3px;
    width: 150%;
    background-color: #ed830c;
    bottom: 3px;
    display: block;
}
.div-login {
    background-image: url("../img/coffee-2425294_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.form-login {
    background-color: white;
    min-height: 400px;
}
.login {
    height: 100vh;
}
.copyrights::before {
    content: "";
    height: 2px;
    background-color: lightgray;
    width: 70%;
    bottom: 3px;
    display: block;
    margin-left: 15%;
    margin-top: 0.8rem;
}

.div-contacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../img/contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contacto {
    height: 100vh;
}

.registro {
    background-color: white;
    height: 100vh;
}

.div-registro {
    background-image: url("../img/registro1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.div-iframe {
    background-color: rgba(255, 115, 0, 0.3);
    opacity: 0.6;
}

@media (max-width: 991px) {
    .registro {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .imagen-main {
        margin-left: 0px;
    }
}


@media (max-width: 768px) {
    .div-registro {
        overflow-y: auto;
    }
    .registro {
        height: auto;
    }
    .p-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
}
