    
 <div class=" container">
      
      
      <div class="row  my-5">
        
     <div class="col d-flex justify-content-center card border-primary mx-0 px-0">

          <div class="card-header justify-content-center d-flex bg-primary mx-0">

              <H2 class="text-white">Reset Password</H2>

          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="card-body">
              <mat-form-field class="col-12" hintLabel="Max 15 caracteres">
                <input matInput type="password" #pass placeholder="Password" formControlName="password" (blur)="confirmarPassword()">
                <mat-hint align="end">{{pass.value?.length || 0}}/15</mat-hint>
                <mat-error *ngIf="resetPasswordForm.controls.password.errors">{{errorPassword()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="col-12">
                <input matInput type="password" placeholder="Repetir password" formControlName="repetirPassword" (blur)="confirmarPassword()">
                <mat-error *ngIf="resetPasswordForm.controls.repetirPassword.errors">{{errorRepetirPassword()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="card-footer d-flex justify-content-center mx-0">
  
              <button mat-raised-button type="submit" class="btn btn-primary btn-block" [disabled]="resetPasswordForm.invalid"> <i class="fa fa-lock" aria-hidden="true"></i> Reset Password
              </button>
            </div>
          </form>

          
     </div>
      </div>
 </div>