<div class="card border-primary">

  <div class="d-flex bg-primary justify-content-center  align-content-center card-header">

    <h4 class="text-white">Recuperar Password</h4>
  </div>
  <form [formGroup]="mailForm" (ngSubmit)="sendMail(mailForm.value)">
    <div class="d-flex card-body">
  
      <mat-form-field class="col my-1 mx-0 px-0">  
        <input matInput type="email" placeholder="Email" value="{{data.mail}}" formControlName="mail">
         <mat-error *ngIf="mailForm.controls.mail.errors">{{errorMail()}} </mat-error>
      </mat-form-field>
  
    </div>
    <div class="d-flex card-footer justify-content-center">
      <button mat-raised-button type="submit" class="btn btn-info btn-large" [disabled]="mailForm.invalid"> <i class="fa fa-envelope" aria-hidden="true"></i>
         Send </button>
    </div>
  </form>
</div>