<div class="container mt-4">

  <div class="row">

    <div class="col-12 col-lg-6">
      <h2 class="text-primary ml-3">Balance:</h2>
      <p class="col-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum eum, cum molestias omnis eaque iste, harum nemo temporibus libero, reiciendis deleniti. Vitae natus expedita eius omnis non! Deleniti, dolores dolore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo laboriosam eaque totam molestiae, dolore voluptatem repudiandae. Doloremque porro est aut fugiat veritatis! Maxime consectetur possimus quas! Nobis error corporis laudantium.</p>
    </div>

    <div class="col mx-4">

      <img src="../../../assets/img/about.jpg" class="img-fluid w-100 h-75 shadows" alt="">

    </div>

  </div>

</div>