<div class="container-fluid">
 <div class="row bg-primary">

  <div class="col-lg-3 col-6 mt-4 mb-3 d-flex justify-content-center">
    <ul class="list-group ">
      <li class="list-group-item active  " routerLink="/home"  > <a  class=" ">Home</a></li>
      <li class="list-group-item active  " routerLink="/login"  > <a  class=" ">Login</a></li>
      <li class="list-group-item active  " routerLink="/registro"  > <a  class=" ">Registro</a></li>
      <li class="list-group-item active  " routerLink="/contacto" > <a  class=" ">Contacto</a></li>
      
      
    </ul>

  </div>

  <div class="col-lg-3 col-6  mt-4 d-flex justify-content-center">
   <ul class="list-group">
     <li class="list-group-item active  ">
        <label for="telefono" class="text-white">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            Teléfono</label
        >
        <p class="text-white">+54 011 487 8726</p>
     </li>
      <li class="list-group-item active  ">
        <label for="Email" class="text-white"><i class=" fa fa-envelope "></i> Email</label>
        <p class="text-white">balance@info.com.ar</p>
      </li>
   </ul>
</div>

  <div class="col-lg-6 d-flex justify-content-center">
   <ul class="list-group ">
     <li class="list-group-item active d-flex justify-content-center"> <address class="text-white mt-4"><i class="fa fa-home" aria-hidden="true"></i> CABA Argentina Medrano al algo</address></li>
  
      <li class="list-group-item active">
        <div class="embed-responsive embed-responsive-21by9 div-iframe">
            <iframe
                class="embed-responsive-item"
                allowtransparency="allowtransparency"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.8381930513701!2d-58.41784967143386!3d-34.59735187309996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7cd54f107b%3A0xe12d5c447bb9f5a3!2sUTN+-+F.R.B.A!5e0!3m2!1ses!2sar!4v1555524625772!5m2!1ses!2sar"
                allowfullscreen
            ></iframe>
        </div>
      </li>
   </ul>
</div>

 </div>
 
 <div class="row bg-primary">
   <div class="col 10 d-flex justify-content-center"><small class="text-white"> © 2019 Balace. All rights reserved | Design by Luciano Berardi Rosmarin.</small></div>
 </div>

</div>
