<mat-toolbar class="fixed-top bg-primary navbar-dark height">

    <a (click)="sidenavToggle()"  class="d-lg-none"><i class="fa fa-bars text-white" aria-hidden="true"></i>
    </a>
    <a routerLink="/home" class="navbar-brand position-fixed center "><img src="assets/LOGO.png"  class="mb-1" width="30" height="30" alt="">Balance</a>

    <div class="d-none d-lg-block flex-grow-1">
        <ul id="nav-mobile" class=" navbar-nav flex-row justify-content-center">
            <li class="nav-item mx-4 " routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a  class="nav-link unit-thin">Home</a></li>
            <li class="nav-item mx-4 "routerLink="/login"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a class="nav-link unit-thin">login</a></li>
            <li class="nav-item mx-4 "routerLink="/registro" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a  class="nav-link unit-thin">Registro</a></li>
            <li class="nav-item mx-4 "routerLink="/contacto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a  class="nav-link unit-thin">Contacto</a></li>
        </ul>
    </div>
     
    <div  *ngIf="login" class="d-none d-lg-block float-right position-fixed right">
        <ul id="nav-user" class="navbar-nav flex-row">
            <li class="nav-item mx-4"[routerLink]="['/usuarios', usuario.nombre]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" ><a class="nav-link unit-thin"><i class="fa fa-user-o" aria-hidden="true"></i> {{usuario.nombre}}</a></li>
            <li class="nav-item mx-4"><a class="nav-link unit-thin"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
            <li class="nav-item mx-4" routerLink="/home"><a class="nav-link unit-thin" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
    </div>

</mat-toolbar>
    
 



