@media (max-width: 991px) {
.center {
    left: 50%;
    width: 80px;
    margin-left: -40px;
    height: 50px;
}
}
.brand {
   
    font-size: 1.5rem;
}

.right {
    right: 2px;
}
.height {
    height: 64px;
}